<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blueprintName_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2016,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2112,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2208,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2304,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2400,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2496,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2592,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2688,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2784,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2880,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2976,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{3072,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{3168,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{3264,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{3360,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{3456,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{3552,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{3648,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{3744,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>blueprintName_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{3840,0},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blueprintName.png</string>
            <key>size</key>
            <string>{3936,45}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07a7b7a5ec3b6ad1041725dc5000cc1b:2be82f208c2373e0257f96aaef4c2dfc:f95f748b3a8b54f12883e620a9cfc0f1$</string>
            <key>textureFileName</key>
            <string>blueprintName.png</string>
        </dict>
    </dict>
</plist>
