<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blueprintAvailableBig_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2158,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2324,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2490,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2656,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2822,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2988,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{3154,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{3320,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{3486,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{3652,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{3818,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{3984,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{4150,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{4316,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{4482,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{4648,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{4814,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{4980,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{5146,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{5312,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{5478,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{5644,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{5810,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{5976,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{6142,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{6308,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{6474,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>blueprintAvailableBig_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{6640,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blueprintAvailableBig.png</string>
            <key>size</key>
            <string>{6806,152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07a7b7a5ec3b6ad1041725dc5000cc1b:2be82f208c2373e0257f96aaef4c2dfc:f95f748b3a8b54f12883e620a9cfc0f1$</string>
            <key>textureFileName</key>
            <string>blueprintAvailableBig.png</string>
        </dict>
    </dict>
</plist>
