<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coinBig_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{101,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,14}}</string>
                <key>sourceSize</key>
                <string>{101,14}</string>
            </dict>
            <key>coinBig_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,14},{101,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,14}}</string>
                <key>sourceSize</key>
                <string>{101,14}</string>
            </dict>
            <key>coinBig_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,28},{101,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,14}}</string>
                <key>sourceSize</key>
                <string>{101,14}</string>
            </dict>
            <key>coinBig_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,42},{101,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,14}}</string>
                <key>sourceSize</key>
                <string>{101,14}</string>
            </dict>
            <key>coinBig_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,56},{101,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,14}}</string>
                <key>sourceSize</key>
                <string>{101,14}</string>
            </dict>
            <key>coinBig_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,70},{101,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,14}}</string>
                <key>sourceSize</key>
                <string>{101,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coinBig.png</string>
            <key>size</key>
            <string>{101,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07a7b7a5ec3b6ad1041725dc5000cc1b:2be82f208c2373e0257f96aaef4c2dfc:f95f748b3a8b54f12883e620a9cfc0f1$</string>
            <key>textureFileName</key>
            <string>coinBig.png</string>
        </dict>
    </dict>
</plist>
