<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exchangeCardWithPlayer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{135,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,44}}</string>
                <key>sourceSize</key>
                <string>{135,44}</string>
            </dict>

            <key>exchangeCardWithPlayer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,0},{135,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,44}}</string>
                <key>sourceSize</key>
                <string>{135,44}</string>
            </dict>

            <key>exchangeCardWithPlayer_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{135,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,44}}</string>
                <key>sourceSize</key>
                <string>{135,44}</string>
            </dict>

            <key>exchangeCardWithPlayer_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,0},{135,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,44}}</string>
                <key>sourceSize</key>
                <string>{135,44}</string>
            </dict>

            <key>exchangeCardWithSys_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,44},{135,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,44}}</string>
                <key>sourceSize</key>
                <string>{135,44}</string>
            </dict>

            <key>exchangeCardWithSys_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,44},{135,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,44}}</string>
                <key>sourceSize</key>
                <string>{135,44}</string>
            </dict>

            <key>exchangeCardWithSys_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,44},{135,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,44}}</string>
                <key>sourceSize</key>
                <string>{135,44}</string>
            </dict>

            <key>exchangeCardWithSys_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,44},{135,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,44}}</string>
                <key>sourceSize</key>
                <string>{135,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exchangeCard.png</string>
            <key>size</key>
            <string>{540,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07a7b7a5ec3b6ad1041725dc5000cc1b:2be82f208c2373e0257f96aaef4c2dfc:f95f748b3a8b54f12883e620a9cfc0f1$</string>
            <key>textureFileName</key>
            <string>exchangeCard.png</string>
        </dict>
    </dict>
</plist>
