<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>helpBtn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,21}}</string>
                <key>sourceSize</key>
                <string>{58,21}</string>
            </dict>
            <key>helpBtn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{58,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,21}}</string>
                <key>sourceSize</key>
                <string>{58,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>helpBtn.png</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a964c02640285308d6b1918ed965a71:9c522b8f60de3b65a46da1bfd434a7b7:fdf93de75fa6528bffbde6e47ac7a61e$</string>
            <key>textureFileName</key>
            <string>helpBtn.png</string>
        </dict>
    </dict>
</plist>
