<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>preNextPage_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{53,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,19}}</string>
                <key>sourceSize</key>
                <string>{53,19}</string>
            </dict>
            <key>preNextPage_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,0},{53,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,19}}</string>
                <key>sourceSize</key>
                <string>{53,19}</string>
            </dict>
            <key>preNextPage_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,0},{53,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,19}}</string>
                <key>sourceSize</key>
                <string>{53,19}</string>
            </dict>
            <key>preNextPage_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,0},{53,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,19}}</string>
                <key>sourceSize</key>
                <string>{53,19}</string>
            </dict>
            <key>preNextPage_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,19},{53,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,19}}</string>
                <key>sourceSize</key>
                <string>{53,19}</string>
            </dict>
            <key>preNextPage_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,19},{53,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,19}}</string>
                <key>sourceSize</key>
                <string>{53,19}</string>
            </dict>
            <key>preNextPage_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,19},{53,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,19}}</string>
                <key>sourceSize</key>
                <string>{53,19}</string>
            </dict>
            <key>preNextPage_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,19},{53,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,19}}</string>
                <key>sourceSize</key>
                <string>{53,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>preNextPage.png</string>
            <key>size</key>
            <string>{212,38}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07a7b7a5ec3b6ad1041725dc5000cc1b:2be82f208c2373e0257f96aaef4c2dfc:f95f748b3a8b54f12883e620a9cfc0f1$</string>
            <key>textureFileName</key>
            <string>preNextPage.png</string>
        </dict>
    </dict>
</plist>
