<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>roleIconBig_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{290,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,263}}</string>
                <key>sourceSize</key>
                <string>{290,263}</string>
            </dict>
            <key>roleIconBig_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,0},{290,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,263}}</string>
                <key>sourceSize</key>
                <string>{290,263}</string>
            </dict>
            <key>roleIconBig_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,0},{290,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,263}}</string>
                <key>sourceSize</key>
                <string>{290,263}</string>
            </dict>
            <key>roleIconBig_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,0},{290,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,263}}</string>
                <key>sourceSize</key>
                <string>{290,263}</string>
            </dict>
            <key>roleIconBig_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,0},{290,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,263}}</string>
                <key>sourceSize</key>
                <string>{290,263}</string>
            </dict>
            <key>roleIconBig_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,0},{290,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,263}}</string>
                <key>sourceSize</key>
                <string>{290,263}</string>
            </dict>
            <key>roleIconBig_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,0},{290,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,263}}</string>
                <key>sourceSize</key>
                <string>{290,263}</string>
            </dict>
            <key>roleIconBig_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2030,0},{290,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,263}}</string>
                <key>sourceSize</key>
                <string>{290,263}</string>
            </dict>
            <key>roleIconBig_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2320,0},{290,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,263}}</string>
                <key>sourceSize</key>
                <string>{290,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>roleIconBig.png</string>
            <key>size</key>
            <string>{2610,263}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07a7b7a5ec3b6ad1041725dc5000cc1b:2be82f208c2373e0257f96aaef4c2dfc:f95f748b3a8b54f12883e620a9cfc0f1$</string>
            <key>textureFileName</key>
            <string>roleIconBig.png</string>
        </dict>
    </dict>
</plist>
