<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>roleIconSmall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{158,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,155}}</string>
                <key>sourceSize</key>
                <string>{158,155}</string>
            </dict>
            <key>roleIconSmall_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,0},{158,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,155}}</string>
                <key>sourceSize</key>
                <string>{158,155}</string>
            </dict>
            <key>roleIconSmall_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,0},{158,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,155}}</string>
                <key>sourceSize</key>
                <string>{158,155}</string>
            </dict>
            <key>roleIconSmall_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,0},{158,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,155}}</string>
                <key>sourceSize</key>
                <string>{158,155}</string>
            </dict>
            <key>roleIconSmall_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,0},{158,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,155}}</string>
                <key>sourceSize</key>
                <string>{158,155}</string>
            </dict>
            <key>roleIconSmall_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,0},{158,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,155}}</string>
                <key>sourceSize</key>
                <string>{158,155}</string>
            </dict>
            <key>roleIconSmall_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,0},{158,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,155}}</string>
                <key>sourceSize</key>
                <string>{158,155}</string>
            </dict>
            <key>roleIconSmall_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,0},{158,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,155}}</string>
                <key>sourceSize</key>
                <string>{158,155}</string>
            </dict>
            <key>roleIconSmall_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,0},{158,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,155}}</string>
                <key>sourceSize</key>
                <string>{158,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>roleIconSmall.png</string>
            <key>size</key>
            <string>{1422,155}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07a7b7a5ec3b6ad1041725dc5000cc1b:2be82f208c2373e0257f96aaef4c2dfc:f95f748b3a8b54f12883e620a9cfc0f1$</string>
            <key>textureFileName</key>
            <string>roleIconSmall.png</string>
        </dict>
    </dict>
</plist>
