<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>roundEnd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{145,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,27}}</string>
                <key>sourceSize</key>
                <string>{145,27}</string>
            </dict>
            <key>roundEnd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,0},{145,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,27}}</string>
                <key>sourceSize</key>
                <string>{145,27}</string>
            </dict>
            <key>roundEnd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,0},{145,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,27}}</string>
                <key>sourceSize</key>
                <string>{145,27}</string>
            </dict>
            <key>roundEnd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,0},{145,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,27}}</string>
                <key>sourceSize</key>
                <string>{145,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>roundEnd.png</string>
            <key>size</key>
            <string>{580,27}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07a7b7a5ec3b6ad1041725dc5000cc1b:2be82f208c2373e0257f96aaef4c2dfc:f95f748b3a8b54f12883e620a9cfc0f1$</string>
            <key>textureFileName</key>
            <string>roundEnd.png</string>
        </dict>
    </dict>
</plist>
