<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beStolenBig_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{400,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,384}}</string>
                <key>sourceSize</key>
                <string>{400,384}</string>
            </dict>
            <key>beStolenBig_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,0},{400,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,384}}</string>
                <key>sourceSize</key>
                <string>{400,384}</string>
            </dict>
            <key>beStolenBig_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,0},{400,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,384}}</string>
                <key>sourceSize</key>
                <string>{400,384}</string>
            </dict>
            <key>beStolenBig_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,0},{400,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,384}}</string>
                <key>sourceSize</key>
                <string>{400,384}</string>
            </dict>
            <key>beStolenBig_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,0},{400,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,384}}</string>
                <key>sourceSize</key>
                <string>{400,384}</string>
            </dict>
            <key>beStolenBig_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,0},{400,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,384}}</string>
                <key>sourceSize</key>
                <string>{400,384}</string>
            </dict>
            <key>beStolenBig_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2400,0},{400,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,384}}</string>
                <key>sourceSize</key>
                <string>{400,384}</string>
            </dict>
            <key>beStolenBig_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2800,0},{400,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,384}}</string>
                <key>sourceSize</key>
                <string>{400,384}</string>
            </dict>
            <key>beStolenBig_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{3200,0},{400,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,384}}</string>
                <key>sourceSize</key>
                <string>{400,384}</string>
            </dict>
            <key>beStolenBig_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3600,0},{400,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,384}}</string>
                <key>sourceSize</key>
                <string>{400,384}</string>
            </dict>
            <key>beStolenBig_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4000,0},{400,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,384}}</string>
                <key>sourceSize</key>
                <string>{400,384}</string>
            </dict>
            <key>beStolenBig_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{4400,0},{400,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,384}}</string>
                <key>sourceSize</key>
                <string>{400,384}</string>
            </dict>
            <key>beStolenBig_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{4800,0},{400,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,384}}</string>
                <key>sourceSize</key>
                <string>{400,384}</string>
            </dict>
            <key>beStolenBig_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{5200,0},{400,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,384}}</string>
                <key>sourceSize</key>
                <string>{400,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>beStolenBig.png</string>
            <key>size</key>
            <string>{5600,384}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07a7b7a5ec3b6ad1041725dc5000cc1b:2be82f208c2373e0257f96aaef4c2dfc:f95f748b3a8b54f12883e620a9cfc0f1$</string>
            <key>textureFileName</key>
            <string>beStolenBig.png</string>
        </dict>
    </dict>
</plist>
