<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dismantleBuilding_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{349,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,450}}</string>
                <key>sourceSize</key>
                <string>{349,450}</string>
            </dict>
            <key>dismantleBuilding_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,0},{349,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,450}}</string>
                <key>sourceSize</key>
                <string>{349,450}</string>
            </dict>
            <key>dismantleBuilding_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,0},{349,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,450}}</string>
                <key>sourceSize</key>
                <string>{349,450}</string>
            </dict>
            <key>dismantleBuilding_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,0},{349,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,450}}</string>
                <key>sourceSize</key>
                <string>{349,450}</string>
            </dict>
            <key>dismantleBuilding_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,0},{349,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,450}}</string>
                <key>sourceSize</key>
                <string>{349,450}</string>
            </dict>
            <key>dismantleBuilding_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,0},{349,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,450}}</string>
                <key>sourceSize</key>
                <string>{349,450}</string>
            </dict>
            <key>dismantleBuilding_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2094,0},{349,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,450}}</string>
                <key>sourceSize</key>
                <string>{349,450}</string>
            </dict>
            <key>dismantleBuilding_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2443,0},{349,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,450}}</string>
                <key>sourceSize</key>
                <string>{349,450}</string>
            </dict>
            <key>dismantleBuilding_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2792,0},{349,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,450}}</string>
                <key>sourceSize</key>
                <string>{349,450}</string>
            </dict>
            <key>dismantleBuilding_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3141,0},{349,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,450}}</string>
                <key>sourceSize</key>
                <string>{349,450}</string>
            </dict>
            <key>dismantleBuilding_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3490,0},{349,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,450}}</string>
                <key>sourceSize</key>
                <string>{349,450}</string>
            </dict>
            <key>dismantleBuilding_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3839,0},{349,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,450}}</string>
                <key>sourceSize</key>
                <string>{349,450}</string>
            </dict>
            <key>dismantleBuilding_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{4188,0},{349,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,450}}</string>
                <key>sourceSize</key>
                <string>{349,450}</string>
            </dict>
            <key>dismantleBuilding_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{4537,0},{349,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,450}}</string>
                <key>sourceSize</key>
                <string>{349,450}</string>
            </dict>
            <key>dismantleBuilding_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{4886,0},{349,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,450}}</string>
                <key>sourceSize</key>
                <string>{349,450}</string>
            </dict>
            <key>dismantleBuilding_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{5235,0},{349,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,450}}</string>
                <key>sourceSize</key>
                <string>{349,450}</string>
            </dict>
            <key>dismantleBuilding_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{5584,0},{349,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,450}}</string>
                <key>sourceSize</key>
                <string>{349,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dismantleBuilding.png</string>
            <key>size</key>
            <string>{5933,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07a7b7a5ec3b6ad1041725dc5000cc1b:2be82f208c2373e0257f96aaef4c2dfc:f95f748b3a8b54f12883e620a9cfc0f1$</string>
            <key>textureFileName</key>
            <string>dismantleBuilding.png</string>
        </dict>
    </dict>
</plist>
