<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>killSmall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{173,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,144}}</string>
                <key>sourceSize</key>
                <string>{173,144}</string>
            </dict>
            <key>killSmall_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,0},{173,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,144}}</string>
                <key>sourceSize</key>
                <string>{173,144}</string>
            </dict>
            <key>killSmall_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,0},{173,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,144}}</string>
                <key>sourceSize</key>
                <string>{173,144}</string>
            </dict>
            <key>killSmall_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,0},{173,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,144}}</string>
                <key>sourceSize</key>
                <string>{173,144}</string>
            </dict>
            <key>killSmall_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,0},{173,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,144}}</string>
                <key>sourceSize</key>
                <string>{173,144}</string>
            </dict>
            <key>killSmall_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,0},{173,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,144}}</string>
                <key>sourceSize</key>
                <string>{173,144}</string>
            </dict>
            <key>killSmall_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,0},{173,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,144}}</string>
                <key>sourceSize</key>
                <string>{173,144}</string>
            </dict>
            <key>killSmall_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,0},{173,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,144}}</string>
                <key>sourceSize</key>
                <string>{173,144}</string>
            </dict>
            <key>killSmall_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,0},{173,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,144}}</string>
                <key>sourceSize</key>
                <string>{173,144}</string>
            </dict>
            <key>killSmall_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,0},{173,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,144}}</string>
                <key>sourceSize</key>
                <string>{173,144}</string>
            </dict>
            <key>killSmall_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,0},{173,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,144}}</string>
                <key>sourceSize</key>
                <string>{173,144}</string>
            </dict>
            <key>killSmall_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1903,0},{173,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,144}}</string>
                <key>sourceSize</key>
                <string>{173,144}</string>
            </dict>
            <key>killSmall_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2076,0},{173,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,144}}</string>
                <key>sourceSize</key>
                <string>{173,144}</string>
            </dict>
            <key>killSmall_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2249,0},{173,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,144}}</string>
                <key>sourceSize</key>
                <string>{173,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>killSmall.png</string>
            <key>size</key>
            <string>{2422,144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07a7b7a5ec3b6ad1041725dc5000cc1b:2be82f208c2373e0257f96aaef4c2dfc:f95f748b3a8b54f12883e620a9cfc0f1$</string>
            <key>textureFileName</key>
            <string>killSmall.png</string>
        </dict>
    </dict>
</plist>
