<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>killBig_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{300,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,245}}</string>
                <key>sourceSize</key>
                <string>{300,245}</string>
            </dict>
            <key>killBig_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{300,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,245}}</string>
                <key>sourceSize</key>
                <string>{300,245}</string>
            </dict>
            <key>killBig_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,0},{300,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,245}}</string>
                <key>sourceSize</key>
                <string>{300,245}</string>
            </dict>
            <key>killBig_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,0},{300,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,245}}</string>
                <key>sourceSize</key>
                <string>{300,245}</string>
            </dict>
            <key>killBig_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,0},{300,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,245}}</string>
                <key>sourceSize</key>
                <string>{300,245}</string>
            </dict>
            <key>killBig_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,0},{300,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,245}}</string>
                <key>sourceSize</key>
                <string>{300,245}</string>
            </dict>
            <key>killBig_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,0},{300,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,245}}</string>
                <key>sourceSize</key>
                <string>{300,245}</string>
            </dict>
            <key>killBig_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2100,0},{300,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,245}}</string>
                <key>sourceSize</key>
                <string>{300,245}</string>
            </dict>
            <key>killBig_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2400,0},{300,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,245}}</string>
                <key>sourceSize</key>
                <string>{300,245}</string>
            </dict>
            <key>killBig_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2700,0},{300,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,245}}</string>
                <key>sourceSize</key>
                <string>{300,245}</string>
            </dict>
            <key>killBig_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3000,0},{300,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,245}}</string>
                <key>sourceSize</key>
                <string>{300,245}</string>
            </dict>
            <key>killBig_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3300,0},{300,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,245}}</string>
                <key>sourceSize</key>
                <string>{300,245}</string>
            </dict>
            <key>killBig_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3600,0},{300,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,245}}</string>
                <key>sourceSize</key>
                <string>{300,245}</string>
            </dict>
            <key>killBig_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3900,0},{300,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,245}}</string>
                <key>sourceSize</key>
                <string>{300,245}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>killBig.png</string>
            <key>size</key>
            <string>{4200,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07a7b7a5ec3b6ad1041725dc5000cc1b:2be82f208c2373e0257f96aaef4c2dfc:f95f748b3a8b54f12883e620a9cfc0f1$</string>
            <key>textureFileName</key>
            <string>killBig.png</string>
        </dict>
    </dict>
</plist>
