<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magicBig_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{260,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,240}}</string>
                <key>sourceSize</key>
                <string>{260,240}</string>
            </dict>
            <key>magicBig_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,0},{260,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,240}}</string>
                <key>sourceSize</key>
                <string>{260,240}</string>
            </dict>
            <key>magicBig_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,0},{260,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,240}}</string>
                <key>sourceSize</key>
                <string>{260,240}</string>
            </dict>
            <key>magicBig_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,0},{260,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,240}}</string>
                <key>sourceSize</key>
                <string>{260,240}</string>
            </dict>
            <key>magicBig_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,0},{260,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,240}}</string>
                <key>sourceSize</key>
                <string>{260,240}</string>
            </dict>
            <key>magicBig_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,0},{260,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,240}}</string>
                <key>sourceSize</key>
                <string>{260,240}</string>
            </dict>
            <key>magicBig_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,0},{260,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,240}}</string>
                <key>sourceSize</key>
                <string>{260,240}</string>
            </dict>
            <key>magicBig_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,0},{260,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,240}}</string>
                <key>sourceSize</key>
                <string>{260,240}</string>
            </dict>
            <key>magicBig_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2080,0},{260,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,240}}</string>
                <key>sourceSize</key>
                <string>{260,240}</string>
            </dict>
            <key>magicBig_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2340,0},{260,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,240}}</string>
                <key>sourceSize</key>
                <string>{260,240}</string>
            </dict>
            <key>magicBig_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2600,0},{260,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,240}}</string>
                <key>sourceSize</key>
                <string>{260,240}</string>
            </dict>
            <key>magicBig_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2860,0},{260,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,240}}</string>
                <key>sourceSize</key>
                <string>{260,240}</string>
            </dict>
            <key>magicBig_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3120,0},{260,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,240}}</string>
                <key>sourceSize</key>
                <string>{260,240}</string>
            </dict>
            <key>magicBig_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3380,0},{260,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,240}}</string>
                <key>sourceSize</key>
                <string>{260,240}</string>
            </dict>
            <key>magicBig_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3640,0},{260,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,240}}</string>
                <key>sourceSize</key>
                <string>{260,240}</string>
            </dict>
            <key>magicBig_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{3900,0},{260,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,240}}</string>
                <key>sourceSize</key>
                <string>{260,240}</string>
            </dict>
            <key>magicBig_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{4160,0},{260,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,240}}</string>
                <key>sourceSize</key>
                <string>{260,240}</string>
            </dict>
            <key>magicBig_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{4420,0},{260,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,240}}</string>
                <key>sourceSize</key>
                <string>{260,240}</string>
            </dict>
            <key>magicBig_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{4680,0},{260,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,240}}</string>
                <key>sourceSize</key>
                <string>{260,240}</string>
            </dict>
            <key>magicBig_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{4940,0},{260,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,240}}</string>
                <key>sourceSize</key>
                <string>{260,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magicBig.png</string>
            <key>size</key>
            <string>{5200,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07a7b7a5ec3b6ad1041725dc5000cc1b:2be82f208c2373e0257f96aaef4c2dfc:f95f748b3a8b54f12883e620a9cfc0f1$</string>
            <key>textureFileName</key>
            <string>magicBig.png</string>
        </dict>
    </dict>
</plist>
