<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>purpleFlag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1525,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2013,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2074,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2135,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2196,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2257,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2318,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2379,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2440,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2501,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2562,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2623,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2684,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2745,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2806,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2867,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2928,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2989,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{3050,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>purpleFlag_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{3111,0},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>purpleFlag.png</string>
            <key>size</key>
            <string>{3172,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07a7b7a5ec3b6ad1041725dc5000cc1b:2be82f208c2373e0257f96aaef4c2dfc:f95f748b3a8b54f12883e620a9cfc0f1$</string>
            <key>textureFileName</key>
            <string>purpleFlag.png</string>
        </dict>
    </dict>
</plist>
