<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>taxesFrame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{80,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,35}}</string>
                <key>sourceSize</key>
                <string>{80,35}</string>
            </dict>
            <key>taxesFrame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{80,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,35}}</string>
                <key>sourceSize</key>
                <string>{80,35}</string>
            </dict>
            <key>taxesFrame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{80,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,35}}</string>
                <key>sourceSize</key>
                <string>{80,35}</string>
            </dict>
            <key>taxesFrame_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{80,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,35}}</string>
                <key>sourceSize</key>
                <string>{80,35}</string>
            </dict>
            <key>taxesFrame_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{80,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,35}}</string>
                <key>sourceSize</key>
                <string>{80,35}</string>
            </dict>
            <key>taxesFrame_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,0},{80,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,35}}</string>
                <key>sourceSize</key>
                <string>{80,35}</string>
            </dict>
            <key>taxesFrame_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{80,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,35}}</string>
                <key>sourceSize</key>
                <string>{80,35}</string>
            </dict>
            <key>taxesFrame_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,0},{80,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,35}}</string>
                <key>sourceSize</key>
                <string>{80,35}</string>
            </dict>
            <key>taxesFrame_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,0},{80,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,35}}</string>
                <key>sourceSize</key>
                <string>{80,35}</string>
            </dict>
            <key>taxesFrame_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,0},{80,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,35}}</string>
                <key>sourceSize</key>
                <string>{80,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>taxesFrame.png</string>
            <key>size</key>
            <string>{800,35}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07a7b7a5ec3b6ad1041725dc5000cc1b:2be82f208c2373e0257f96aaef4c2dfc:f95f748b3a8b54f12883e620a9cfc0f1$</string>
            <key>textureFileName</key>
            <string>taxesFrame.png</string>
        </dict>
    </dict>
</plist>
